[submodule "ai03-pcb-guide/MX_Alps_Hybrid.pretty"]
	path = ai03-pcb-guide/MX_Alps_Hybrid.pretty
	url = https://github.com/ai03-2725/MX_Alps_Hybrid.pretty
[submodule "ai03-pcb-guide/MX_Alps_Hybrid"]
	path = ai03-pcb-guide/MX_Alps_Hybrid
	url = https://github.com/ai03-2725/MX_Alps_Hybrid
